:root {
    --dark-grey: rgb(226 232 240);
    --bright-grey: rgb(247 250 252);
}

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: var(--dark-grey);
}

nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    
    list-style: none;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    /* width: 100%; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #################### */

.introduction {
    background-color: var(--dark-grey);
}

.introduction .container{    
    margin: 30px 30px;
}

.introduction .image {
    background-color: grey;
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: auto;
}

.introduction .image img{
    width: 100%;
}

/* ##################### */

.about {
    background-color: var(--bright-grey);
}

.about .container{
    margin: 30px 30px;
}

/* ##################### */

.projects .container{
    flex-direction: column;
    align-items: center;
}

.projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);

}

/* ################### */

.get-in-touch {
    background-color: var(--bright-grey);
}

.get-in-touch .container{
    flex-direction: column;
    align-items: center;
}

.get-in-touch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.get-in-touch-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.get-in-touch-container form .input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 5px;
}


.get-in-touch-container .contact-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:start;
}

/* ########## */

footer {
    background-color: #1e293b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;   
}